<p-toast></p-toast>

<p-card>
    <p-panel header="Title">
            <div >
                <p-menubar (click)="showDialogPanel(null)" [model]="toolBarItems"></p-menubar>
            </div>
        <p-treeTable [value]="tasks" [columns]="cols" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
                        {{col.header}}
                        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                    </th>
                    <th style="width: 8rem">
                        &nbsp;
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i = index">
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <p-button (click)="showDialogPanel(rowData)" icon="pi pi-pencil" styleClass="p-button-warning"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </p-panel>
    <p-dialog [(visible)]="showDialog" [style]="{width: '450px'}" header="Nueva Tarea" [modal]="true" styleClass="p-fluid">
        <!-- <ng-template pTemplate="content"> -->
            <div [style]="{margin: '1rem'}">
                <div class="p-field">
                    <label for="titulo">Titulo</label>
                    <input type="text" pInputText id="titulo" [(ngModel)]="insertTask.titulo" />
                </div>
            </div>
            <div [style]="{margin: '1rem'}">
                <div class="p-field">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" pInputText id="descripcion" [(ngModel)]="insertTask.descripcion" />
                </div>
            </div>
            <div [style]="{margin: '1rem'}">
                <div class="p-field">
                    <label for="fecha">Fecha</label>
                    <input type="text" pInputText id="fecha" [(ngModel)]="insertTask.fechaCreacion" />
                </div>
            </div>
            <div [style]="{margin: '1rem'}">
                <div class="p-field">
                    <label for="nivelPrioridad">Prioridad</label>
                    <input type="text" pInputText id="nivelPrioridad" [(ngModel)]="insertTask.nivelPrioridad" />
                </div>
            </div>
            <div [style]="{margin: '1rem'}">
                <div class="p-field">
                    <label for="status">Estado</label>
                    <input type="text" pInputText id="status" [(ngModel)]="insertTask.status" />
                </div>
            </div>
        <!-- </ng-template> -->
        <div [style]="{margin: '1rem'}">

            <!-- <ng-template pTemplate="body"> -->
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="submitForm()"></button>
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            </div>
        <!-- </ng-template> -->
    </p-dialog>
</p-card>

